<%- include('./includes/header') %>
    
<div class="container">
    <h1 class="text-center"><%= title %></h1>
    <p class="text-center"><%= message %></p>
    <div class="d-grid gap-2 col-2 mx-auto">
        <a href="/">Volver a la página principal</a>
    </div>
</div>

<%- include('./includes/footer') %>
</body>
</html>